<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">

        <title>Movies @ 105ww</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
        <link href="/static/narrow-jumbotron.css" rel="stylesheet">
    </head>

    <body>
        <div class="container">
            <div class="header clearfix">
                <nav>
                    <ul class="nav nav-pills float-xs-right">
                        <li class="nav-item">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Genre
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" style="text-align:center">
                                    {% for genre in list_genres %}
                                    <li><a href="/?genre={{ genre }}">{{ genre }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/{% if genre %}?genre={{ genre }}{% endif %}">Choose Another</a>
                        </li>
                    </ul>
                </nav>
                <h3 class="text-muted">Movie Master</h3>
            </div>


            <div style="text-align:center">
                <h3>{{ saying }}</h3>
                <a href="{{ link }}"><h1>{{ title }}</h1></a>
                {% if not image == "N/A" %}
                <img src="{{ image }}" />
                <br>
                <br>
                {% endif %}
                <p><i>{{ description }}</i></p>
                <p><a href="{{ link }}">View more on IMDB</a></p>
            </div>

            <footer class="footer">
                <p>&copy; 105ww.xyz 2016</p>
            </footer>

        </div>
        <script
                    src="https://code.jquery.com/jquery-3.1.1.min.js"
                    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
                    crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
    </body>
</html>
